.header [data-twe-navbar-ref] [data-twe-nav-link-ref] {
    position: relative;
}
.header [data-twe-navbar-ref] [data-twe-nav-link-ref]::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 8px;
    width: 0%;
    height: 3px;
    background: green;
    /* margin: 0 auto; */
    transition: all 0.5s;
}
.header [data-twe-navbar-ref] [data-twe-nav-link-ref]:hover::after {
    width: 80%;
    transition: all 0.5s;
}

.carusel [data-twe-carousel-item]::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 10;
}
.carusel [data-twe-carusel-item] img,
.carusel [data-twe-carusel-item] div {
    z-index: 15;
}

.carusel [data-twe-carusel-indicators] {
    z-index: 20;
}
.grid .item:hover {
    border: solid green 1px;
    transition: 0.5s;
}
.grid .item:hover h5 {
    color: green;
    transition: 0.5s;
}
.grid .item>div {
    animation: display-zoom 0.5s;
}
@keyframes display-zoom {
    0% {
        transform: scale(0,0);
    }
    100% {
        transform: scale(1,1);
    }
    
}
/* .available .container::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.502);
    z-index: 5;
} */
.avail-cards .item::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    top: 0;
    left: 0;
    border: solid red 1px;
    /* background: #000000e0; */
}